*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: chocolate;
    display: flex;
    height:100vh;
    width:100vw;
    align-items: center;
    justify-content: space-evenly;
}
img{
    height:40vh;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:50vh;
    width:31vw;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:50vh;
    width:31vw;
}
#input{
    background-color: rgb(99, 43, 5);
    color:white;
    font-weight: bold;
    border-radius:2vw;
    height:4vh;
}