body{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vw;
    background-color: paleturquoise;

}
img{
    height:40vh;
    width:20;
}
h1{
    border-bottom-style: inset;
}
pre{
    font-size: 1.2em;
}